<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Gyftrly" %></title>
     <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Gyftrly" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/header' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
    <%= yield %>
    </main>

    <footer>Designed by Jack Stein, © 2015, a GA WDI production</footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </body>
</html>
